{% extends '::base.html.twig' %}
{% block title %}Jugadores{% endblock %}
{% block body %}
 <h3>Jugadores del club</h3>
 <table class="table table-striped table-inverse">
   <tr>
     <th>Nombre</th>
     <th>Apellidos</th>
     <th>Sexo</th>
     <th>Edad</th>
     <th>Nivel</th>
   </tr>

   <tr>
     <td>{{ id.nombre }}</td>
     <td>{{ id.apellidos }}</td>
     <td>{{ id.sexo }}</td>
     <td>{{ id.edad }}</td>
     <td>{{ id.nivel }}</td>
   </tr>

 </table>
{% endblock %}
